# Analyse du turnover chez TechNova

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sirh = pd.read_csv('extrait_sirh.csv')
eval = pd.read_csv('extrait_eval.csv')
sondage = pd.read_csv('extrait_sondage.csv')
df = pd.concat([sirh, eval, sondage], axis=1)
df.head()

## Statistiques descriptives

In [ ]:
df.describe(include='all').T

## Graphiques

In [ ]:
sns.countplot(x='a_quitte_l_entreprise', data=df); plt.show()